* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #f2f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}
.left,
.middle,
.right {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */}