
* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}
/* Style the header */

.header {
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    font-size: 60px;
}


/* Create three unequal columns that floats next to each other */
.column {
    float: right;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
    width: 25%;
    text-align: center;
    font-size: 150%;
}

/* Middle column */
.column.middle {
    width: 50%;
    text-align: center;
    font-size: 150%;
}

/* Clear floats after the columns */


/* Style the footer */
.footer {
    background-color: #ffff99;
    padding: 10px;
    text-align: center;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

