.row{
    display: flex;
    font-size: 30px;
    text-align: center;


}
.col {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;

}
.colfirst{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.width-33{
    height: auto;
    width: 33.33%;
}
.column-width{
    height: 6em;

}
.column-left {
    background-color: #7e7974;

}
.column-middle {
    background-color: #b7aea9;
}

.column-right {
    background-color: #d4dede;


}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .column-right,.column-middle, .column-left {
        min-height: 6em;
    }
}

