.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50px;
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding-bottom: 1em;
}

@media screen and (max-width: 970px) {
    section , image {
        font-size: 9px;
    }

}

@media screen and (max-width: 840px) {
    .center {
        height: 200px;
    }
}


