
.footer-dark {

    color: #f0f9ff;
    background-color: #282d32;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.first {
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}


.first h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.title {

    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


.second {

    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {

    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.second h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second a:hover, .second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none

}

.third {


    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


.third h4 {
    /*font-size: 20px;*/
    /*letter-spacing: 3px;*/
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


.third h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}


.third li {
    list-style: none;
    padding-bottom: 15px;
}


.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}


.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}

.line {
    height: 2px;
    background-color: rgb(206, 206, 206);
    width: 100%;
}


@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .width-33 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first h4::after, .third h4::after {
        transform: translateX(-50%);
        left: 50%;
    }
    .width-33 {
        width: 33.33%;


    }
}
@media screen and (max-width: 768px) {
    .width-33 {
        width: 100%;
    }
}









