html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

}


/* Style the header */

.header {
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    font-size: 60px;



}


/* Create three unequal columns that floats next to each other */
.column {
    float: right;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    width: 100%;
}

/* Left and right column */
.column-side-left {
    width: 25%;
    text-align: center;
    font-size: 150%;
    background-image: url("../images/teorie.png");
    background-size: 100%;



}
.column-side-right {

    width: 25%;
    text-align: center;
    font-size: 150%;



}

/* Middle column */
.column-middle {
    width: 50%;
    text-align: center;
    font-size: 150%;
}





/* Style the footer */
.footer {
    background-color: #ffff99;
    padding: 10px;
    text-align: center;
    width: 100%;



}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


